---
import Layout from '../layouts/Layout.astro';
import MenuBar from '../components/MenuBar.astro';
---

<Layout title="willow roberts">
  <div class="terminal">
    <MenuBar />
    <div class="terminal-body">
      <h1>email: willow.roberts@proton.me</h1>
      <p>&nbsp;</p>
      <p>I’m happy to discuss any kind of project and provide free sample pieces based on your requirements.</p>
      <p>Aside from the published work shown in this portfolio, I've also done a lot of ghostwriting and white label content in niches such as lifestyle, fintech, entertainment, and education. I can't showcase this work online, but feel free to get in touch if you'd like to see samples.</p>
    </div>
  </div>

</Layout>