---
import Layout from '../layouts/Layout.astro';
import MenuBar from '../components/MenuBar.astro';
---

<Layout title="willow roberts">
  <div class="terminal">
    <MenuBar />
    <div class="terminal-body">
      <h1><a href="https://yanagiki.github.io">yanagi kansou</a></h1>
      <p>A retro, handmade website with posts covering my thoughts and impressions on the books I read, TV and films I watch, and the video games I play.</p>
      <p><a href="https://yanagiki.github.io">↳ Have a look</a></p>
      <p>&nbsp;</p>
      <h1><a href="https://medium.com/@willow.r">Ja<b>pun</b>ese in anime</a></h1>
      <p>A Medium blog comparing and constrasting the Japanese and English versions of puns and languaged-based jokes in anime.</p>
      <p><a href="https://medium.com/@willow.r">↳ Have a look</a></p>
    </div>
  </div>

</Layout>