---
import Layout from '../layouts/Layout.astro';
import MenuBar from '../components/MenuBar.astro';
---

<Layout title="willow roberts">
  <div class="terminal">
    <MenuBar />
    <div class="terminal-body">
      <h0>willow roberts</h0>
      <p><b>email:</b> willow.roberts@proton.me<br>
        <b>location:</b> Copenhagen, Denmark<br>
        <b>linkedin:</b> <a href="https://www.linkedin.com/in/willow-roberts/">linkedin.com/in/willow-roberts</a><br>
        <b>portfolio:</b> <a href="https://willowroberts.co">willowroberts.co</a></p>
      <h2>education</h2>
      <p><b>BA Hons in English Literature</b>, from The Open University, 2020</p>
      <h2>experience</h2>
      <ul>
        <li><b>Tech news writer</b>, beginning November 2025, <a href="https://www.bgr.com/author/willowroberts/">BGR</a></li>
        <li><b>News writer</b>, beginning June 2025, <a href="https://www.thetakeout.com/author/willowroberts/">The Takeout</a></li>
        <li><b>Computing writer</b>, April 2024 - May 2025, <a href="https://www.digitaltrends.com/users/wroberts/">Digital Trends</a></li>
        <li><b>Consumer tech writer</b>, July 2023 - January 2025, <a href="https://www.slashgear.com/author/willowroberts/">SlashGear</a></li>
        <li><b>Computing news writer</b>, 2024 - 2025, <a href="https://www.xda-developers.com">XDA</a></li>
        <li><b>White label content writer</b>, March 2023 - January 2026, Scribly</li>
        <li><b>Ghost writer</b>, beginning March 2022</li>
      </ul>
      <h2>work samples</h2>
      <ul>
        <li><b>Feature:</b> <a href="https://www.digitaltrends.com/computing/what-is-vibe-coding-and-is-it-useful/">Vibe coding: What it is, and why you should give it a miss</a></li>
        <li><b>Experience piece:</b> <a href="https://www.digitaltrends.com/computing/i-ditched-chrome-for-the-vivaldi-browser/">I ditched Chrome for the Vivaldi browser, and it’s awesome</a></li>
        <li><b>Computing news:</b> <a href="https://www.digitaltrends.com/computing/new-nvidia-tech-brings-performance-improvements/">Nvidia GPUs just got a huge upgrade, and no one is talking about it</a></li>
        <li><b>Mobile news:</b> <a href="https://www.bgr.com/2093151/annual-phone-upgrade-cycle-dead-reality/">Is the annual phone upgrade cycle finally dead? Here's the reality</a></li>
        <li><b>Gaming news:</b> <a href="https://www.digitaltrends.com/gaming/whats-in-the-new-72-ffxiv-patch/">Massive Final Fantasy XIV 7.2 update brings players a bunch of new content</a></li>
      </ul>
      <p><b>Fun facts about me:</b> I'm fluent in Japanese, I have a pet jumping spider, and I coded this website by hand.</p>
    </div>
  </div>

</Layout>